<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
      <fieldset>
        <label for="userName">User Name</label>
        <input type="text" name="username" />
        <label for="password"></label>
        <input type="password" name="password" id="" />
        <label for="matchPassword"></label>
        <input type="password" name="matchPassword" id="" />
        <button type="submit">Register</button>
      </fieldset>
    </form>
  </body>
</html>
